body {
  font-family: 'Montserrat', sans-serif;
  line-height: 27px;
  color: #3b3d3e;
}

.navbar {
  background: #fff;
  border-top: 5px solid #84c54e;
  -webkit-box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.85);
  -moz-box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.85);
  box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.85);
}

#content {
  padding-top: 90px;
}

footer {
  padding: 20px 0;
  border-top: 4px solid #ccc;
  background: #fff;
}

.navbar-nav {
  text-transform: uppercase;
}


