body {
  background: rgb(86, 92, 95);
}

.navbar {
  background: #fff;
  border-top: 5px solid #84c54e;
  /* border-bottom: 10px solid #4D5061; */
  -webkit-box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.85);
-moz-box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.85);
box-shadow: 0px 4px 5px -5px rgba(0,0,0,0.85);
}

#content {
  padding-top: 80px;
}

.container {
  background: #fff;
}

#state {
  border: 1px solid #ccc;
  border-radius: 20px;
  margin: 0 auto;
  width: 80%;
  padding: 2px 10px;
  color: #ccc;
  text-transform: uppercase;
}

footer {
  padding: 20px 0;
  border-top: 4px solid #ccc;
  background: #fff;
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    #content {
      width: 70%;
      margin: 0 auto;
    }
 }